In [3388]:
import os
import csv
import pandas as pd
import numpy as np

In [3389]:
csvpath = os.path.join('..', 'HeroesOfPyMoli', 'purchase_data.csv')

In [3390]:
with open(csvpath) as csvfile:
    csvreader2 = csv.reader(csvfile, delimiter=',')
    for row in csvreader2:
        pmoli = pd.DataFrame(csvreader2, columns = ['Purchase ID','SN','Age','Gender','Item ID','Item Name','Price'])

In [3391]:
total_player = (len(pmoli.iloc[:,1].unique()))
total_game = (len(pmoli.iloc[:,4].unique()))
pmoli.loc[:,"Price"] = pmoli["Price"].astype("float")
pmoli.loc[:,"Age"] = pmoli["Age"].astype("int")
avr_price = ('${0:,.2f}'.format(pmoli["Price"].mean()))
pmoli_purchase = (len(pmoli))
pmoli_revenue = ('${0:,.2f}'.format(pmoli["Price"].sum()))

In [3392]:
pmoli_male_df = pmoli.loc[pmoli["Gender"] == "Male"]
male_player = (len(pmoli_male_df.iloc[:,1].unique()))
percent_male = ("{:.2f}".format((int(male_player)/int(total_player))*100))
pmoli_female_df = pmoli.loc[pmoli["Gender"] == "Female"]
female_player = (len(pmoli_female_df.iloc[:,1].unique()))
percent_female = ("{:.2f}".format((int(female_player)/int(total_player))*100))
pmoli_unknown_df = pmoli.loc[pmoli["Gender"] == "Other / Non-Disclosed"]
unknown_player = (len(pmoli_unknown_df.iloc[:,1].unique()))
percent_unknown = ("{:.2f}".format((int(pmoli_unknown)/int(total_player))*100))

In [3393]:
male_purchase = (len(pmoli_male_df))
male_avr = (pmoli_male_df["Price"].mean())
male_revenue = (pmoli_male_df["Price"].sum())
avr_pur_male = ((male_purchase/male_player)*male_avr)
female_purchase = (len(pmoli_female_df))
female_avr = (pmoli_female_df["Price"].mean())
female_revenue = (pmoli_female_df["Price"].sum())
avr_pur_female = ((female_purchase/female_player)*female_avr)
unknown_purchase = (len(pmoli_unknown_df))
unknown_avr = (pmoli_unknown_df["Price"].mean())
unknown_revenue = (pmoli_unknown_df["Price"].sum())
avr_pur_unknown = ((unknown_purchase/unknown_player)*unknown_avr)

In [3394]:
bins = [0,9,14,19,24,29,34,39,44]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]

In [3395]:
pmoli["Age Bracket"] = pd.cut(pmoli["Age"], bins, labels= group_labels, include_lowest=True)
pmoli_group = pmoli.groupby('Age Bracket')
purchase_count = pd.DataFrame(pmoli_group["SN"].count())
purchase_df = purchase_count.rename(columns={"SN":"Purchase Count"})
mean_price = pd.DataFrame(pmoli_group["Price"].mean())
mean_df = mean_price.rename(columns={"Price":"Average Purchase Price"})
sum_price = pd.DataFrame(pmoli_group["Price"].sum())
sum_df = sum_price.rename(columns={"Price":"Total Purchase Value"})
player_count = pd.DataFrame(pmoli_group["SN"].nunique())
player_ct = player_count.rename(columns={player_count.columns[0]:"Total Player"})
avr_pur_group = pd.DataFrame((sum_price.iloc[:,0])/(player_count.iloc[:,0]))
player_df = avr_pur_group.rename(columns={avr_pur_group.columns[0]:"Average Total Per Player"})

In [3396]:
Age_dm = pd.DataFrame(((player_count.iloc[:,0])/(total_player))*100)
Age_demo = Age_dm.rename(columns={Age_dm.columns[0]:"Percentage of Players"})

In [3397]:
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Avg Total Purchase Per Person':'${0:,.2f}',
               'Total Purchase Value':'${0:,.2f}', 'Average Total Per Player':'${0:,.2f}',
              'Percentage of Players':'{:,2%}'}

In [3398]:
all_df = pd.DataFrame({"Total Players":[total_player]})
all_df

   Total Players
0            576

In [3399]:
Purchasing_an = pd.DataFrame({"Number of Unique Items":[total_game],"Average Price":[avr_price],
                          "Number of Purchases":[pmoli_purchase],
                              "Total Revenue":[pmoli_revenue]})
Purchasing_an

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [3400]:
Purchasing_an_gd = pd.DataFrame({"Purchase Count":[male_purchase,female_purchase,unknown_purchase],
                                 "Average Purchase Price":[male_avr,female_avr,unknown_avr],
                          "Total Purchase Value":[male_revenue,female_revenue,unknown_revenue],
                              "Avg Total Purchase Per Person":[avr_pur_male,avr_pur_female,avr_pur_unknown]},
                               index=["Male","Female","Other/Undisclosed"])
Purchasing_an_gd.style.format(format_dict)

In [3401]:
Gender_df = pd.DataFrame({"Total Count":[male_player,female_player,unknown_player],
                          "Percentage of Gender":[percent_male,percent_female,percent_unknown]},
                         index=["Male","Female","Other/Undisclosed"])   
Gender_df["Percentage of Gender"]= Gender_df["Percentage of Gender"] + '%'
Gender_df

                   Total Count Percentage of Gender
Male                       484               84.03%
Female                      81               14.06%
Other/Undisclosed           11                2.60%

In [3402]:
Age_dem = pd.concat([player_ct, Age_demo], axis=1, join="inner").reset_index()
Age_dem.style.format(format_dict).hide_index()

KeyError: '0,'

In [3403]:
df = pd.concat([purchase_df,mean_df,sum_df,player_df], axis=1, join="inner").reset_index()
Age_analysis = pd.DataFrame(df)
Age_analysis.style.format(format_dict).hide_index()

In [3404]:
print("PURCHASING ANALYSIS")
print("-------------------")
print("Total number of players is " + str(total_player))
print("Number of items is " + str(total_game))
print("Average price is $" + str(avr_price))
print("Total purchase is " + str(pmoli_purchase))
print("Total revenue is $" + str(pmoli_revenue))
print("__________________________________________________________________________________")
print("GENDER DEMOGRAPHICS")
print("-------------------")
print("Total number of male players is " + str(male_player) + " (" + percent_male + "%)")
print("Total number of female players is " + str(female_player) + " (" + percent_female + "%)")
print("Total number of unknown gender is " + str(unknown_player) + " (" + percent_unknown + "%)")
print("__________________________________________________________________________________")
print("PURCHASING ANALYSIS(GENDER)")
print("---------------------------")
print("Total purchase by male players is " + str(male_purchase))
print("Average purchase price per male player is $" + str(male_avr))
print("Total revenue from male players is $" + str(male_revenue))
print("Average purchase per male players is " + str(avr_pur_male) + " games")
print("---------------------------")
print("Total purchase by female players is " + str(female_purchase))
print("Average purchase price per female player is $" + str(female_avr))
print("Total revenue from female players is $" + str(female_revenue))
print("Average purchase per female players is " + str(avr_pur_female) + " games")
print("---------------------------")
print("Total purchase by unknown players is " + str(unknown_purchase))
print("Average purchase price per unknown player is $" + str(unknown_avr))
print("Total revenue from unknown players is $" + str(unknown_revenue))
print("Average purchase per unknown players is " + str(avr_pur_unknown) + " games")

PURCHASING ANALYSIS
-------------------
Total number of players is 576
Number of items is 179
Average price is $$3.05
Total purchase is 780
Total revenue is $$2,379.77
__________________________________________________________________________________
GENDER DEMOGRAPHICS
-------------------
Total number of male players is 484 (84.03%)
Total number of female players is 81 (14.06%)
Total number of unknown gender is 11 (2.60%)
__________________________________________________________________________________
PURCHASING ANALYSIS(GENDER)
---------------------------
Total purchase by male players is 652
Average purchase price per male player is $3.0178527607361953
Total revenue from male players is $1967.64
Average purchase per male players is 4.065371900826444 games
---------------------------
Total purchase by female players is 113
Average purchase price per female player is $3.203008849557519
Total revenue from female players is $361.94
Average purchase per female players is 4.4683950617283905 games
---------------------------
Total purchase by unknown players is 15
Average purchase price per unknown player is $3.3460000000000005
Total revenue from unknown players is $50.19
Average purchase per unknown players is 4.562727272727273 games