In [3848]:
import os
import csv
import pandas as pd
import numpy as np

In [3849]:
csvpath = os.path.join('..', 'HeroesOfPyMoli', 'purchase_data.csv')

In [3850]:
with open(csvpath) as csvfile:
    csvreader2 = csv.reader(csvfile, delimiter=',')
    for row in csvreader2:
        pmoli = pd.DataFrame(csvreader2, columns = ['Purchase ID','SN','Age','Gender','Item ID','Item Name','Price'])

In [3851]:
total_player = (len(pmoli.iloc[:,1].unique()))
total_game = (len(pmoli.iloc[:,4].unique()))
pmoli.loc[:,"Price"] = pmoli["Price"].astype("float")
pmoli.loc[:,"Age"] = pmoli["Age"].astype("int")
avr_price = ('${0:,.2f}'.format(pmoli["Price"].mean()))
pmoli_purchase = (len(pmoli))
pmoli_revenue = ('${0:,.2f}'.format(pmoli["Price"].sum()))

In [3852]:
pmoli_male_df = pmoli.loc[pmoli["Gender"] == "Male"]
male_player = (len(pmoli_male_df.iloc[:,1].unique()))
percent_male = ("{:.2f}".format((int(male_player)/int(total_player))*100))
pmoli_female_df = pmoli.loc[pmoli["Gender"] == "Female"]
female_player = (len(pmoli_female_df.iloc[:,1].unique()))
percent_female = ("{:.2f}".format((int(female_player)/int(total_player))*100))
pmoli_unknown_df = pmoli.loc[pmoli["Gender"] == "Other / Non-Disclosed"]
unknown_player = (len(pmoli_unknown_df.iloc[:,1].unique()))
percent_unknown = ("{:.2f}".format((int(pmoli_unknown)/int(total_player))*100))

In [3853]:
male_purchase = (len(pmoli_male_df))
male_avr = (pmoli_male_df["Price"].mean())
male_revenue = (pmoli_male_df["Price"].sum())
avr_pur_male = ((male_purchase/male_player)*male_avr)
female_purchase = (len(pmoli_female_df))
female_avr = (pmoli_female_df["Price"].mean())
female_revenue = (pmoli_female_df["Price"].sum())
avr_pur_female = ((female_purchase/female_player)*female_avr)
unknown_purchase = (len(pmoli_unknown_df))
unknown_avr = (pmoli_unknown_df["Price"].mean())
unknown_revenue = (pmoli_unknown_df["Price"].sum())
avr_pur_unknown = ((unknown_purchase/unknown_player)*unknown_avr)

In [3854]:
bins = [0,9,14,19,24,29,34,39,44]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]

In [3855]:
pmoli["Age Bracket"] = pd.cut(pmoli["Age"], bins, labels= group_labels, include_lowest=True)
pmoli_group = pmoli.groupby('Age Bracket')
purchase_count = pd.DataFrame(pmoli_group["SN"].count())
purchase_df = purchase_count.rename(columns={"SN":"Purchase Count"})
mean_price = pd.DataFrame(pmoli_group["Price"].mean())
mean_df = mean_price.rename(columns={"Price":"Average Purchase Price"})
sum_price = pd.DataFrame(pmoli_group["Price"].sum())
sum_df = sum_price.rename(columns={"Price":"Total Purchase Value"})
player_count = pd.DataFrame(pmoli_group["SN"].nunique())
player_ct = player_count.rename(columns={player_count.columns[0]:"Total Player"})
avr_pur_group = pd.DataFrame((sum_price.iloc[:,0])/(player_count.iloc[:,0]))
player_df = avr_pur_group.rename(columns={avr_pur_group.columns[0]:"Average Total Per Player"})

In [3856]:
Age_dm = pd.DataFrame(((player_count.iloc[:,0])/(total_player))*100)
Age_demo = Age_dm.rename(columns={Age_dm.columns[0]:"Percentage of Players"})

In [3857]:
top_s = pmoli.groupby(["SN",]).Price.sum().reset_index()
top_c = pd.DataFrame(pmoli['SN'].value_counts()).reset_index()
top_c_rn = top_c.rename(columns={top_c.columns[0]:"SN",top_c.columns[1]:"Purchase Count"})
top_cs = pd.merge(top_s,top_c_rn, on = 'SN')
avr_spd = (top_cs['Price'])/(top_cs['Purchase Count'])
top_cs['Average Purchase Price'] = avr_spd
top_spdr = top_cs[['SN','Purchase Count','Average Purchase Price','Price']]
top_spend = top_spdr.rename(columns={top_spdr.columns[3]: 'Total Purchase Value'})
top_spender = top_spend.sort_values('Total Purchase Value', ascending=False)

In [3858]:
item_series_sum = pmoli.groupby(["Item ID","Item Name"]).Price.sum()
item_sum_df = pd.DataFrame(item_series_sum)
item_sum_rn = item_sum_df.rename(columns={item_sum_df.columns[0]: 'Total Purchase Value'}).reset_index()
item_series_mean = pmoli.groupby(["Item ID","Item Name"]).Price.mean()
item_mean_df = pd.DataFrame(item_series_mean)
item_mean_rn = item_mean_df.rename(columns={item_mean_df.columns[0]: 'Average Purchase Price'}).reset_index()
item_cnt = pd.DataFrame(pmoli['Item ID'].value_counts()).reset_index()
item_ct_rn = item_cnt.rename(columns={item_cnt.columns[0]: 'Item ID',item_cnt.columns[1]: 'Purchase Count'}).reset_index()
item_tbl_mrg = item_sum_rn.merge(item_ct_rn, on = 'Item ID').merge(item_mean_rn, on = 'Item ID')
item_tbl = item_tbl_mrg[['Item ID','Item Name_x','Purchase Count','Average Purchase Price','Total Purchase Value']]
item_tbl_rn = item_tbl.rename(columns={item_tbl.columns[1]: 'Item Name'})
most_poular_item = item_tbl_rn.sort_values('Purchase Count', ascending=False)

In [3859]:
most_profitable_item = item_tbl_rn.sort_values('Total Purchase Value', ascending=False)

In [3860]:
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Avg Total Purchase Per Person':'${0:,.2f}',
               'Total Purchase Value':'${0:,.2f}', 'Average Total Per Player':'${0:,.2f}',
              'Percentage of Players':'{:.2f}%'}

In [3861]:
all_df = pd.DataFrame({"Total Players":[total_player]})

In [3862]:
Purchasing_an = pd.DataFrame({"Number of Unique Items":[total_game],"Average Price":[avr_price],
                          "Number of Purchases":[pmoli_purchase],
                              "Total Revenue":[pmoli_revenue]})

In [3863]:
Purchasing_an_gd = pd.DataFrame({"Purchase Count":[male_purchase,female_purchase,unknown_purchase],
                                 "Average Purchase Price":[male_avr,female_avr,unknown_avr],
                          "Total Purchase Value":[male_revenue,female_revenue,unknown_revenue],
                              "Avg Total Purchase Per Person":[avr_pur_male,avr_pur_female,avr_pur_unknown]},
                               index=["Male","Female","Other/Undisclosed"])

In [3864]:
Gender_df = pd.DataFrame({"Total Count":[male_player,female_player,unknown_player],
                          "Percentage of Gender":[percent_male,percent_female,percent_unknown]},
                         index=["Male","Female","Other/Undisclosed"])   
Gender_df["Percentage of Gender"]= Gender_df["Percentage of Gender"] + '%'

In [3865]:
Age_dem = pd.concat([player_ct, Age_demo], axis=1, join="inner").reset_index()

In [3866]:
df = pd.concat([purchase_df,mean_df,sum_df,player_df], axis=1, join="inner").reset_index()
Age_analysis = pd.DataFrame(df)

In [3867]:
print('Player Count')
all_df

Player Count

   Total Players
0            576

In [3868]:
print('Purchasing Analysis (Total)')
Purchasing_an

Purchasing Analysis (Total)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [3869]:
print('Gender Demographics')
Gender_df

Gender Demographics

                   Total Count Percentage of Gender
Male                       484               84.03%
Female                      81               14.06%
Other/Undisclosed           11                2.60%

In [3870]:
print('Purchasing Analysis (Gender)')
Purchasing_an_gd.style.format(format_dict)

Purchasing Analysis (Gender)

In [3871]:
print('Age Demographics')
Age_dem.style.format(format_dict).hide_index()

Age Demographics

In [3872]:
print('Purchasing Analysis (Age)')
Age_analysis.style.format(format_dict).hide_index()

Purchasing Analysis (Age)

In [3873]:
print('Top Spenders')
top_spender.head(5).style.format(format_dict).hide_index()

Top Spenders

In [3874]:
print('Most Popular Items')
most_poular_item.head(5).style.format(format_dict).hide_index()

Most Popular Items

In [3875]:
print('Most Profitable Items')
most_profitable_item.head(5).style.format(format_dict).hide_index()

Most Profitable Items