In [2554]:
import os
import csv
import pandas as pd
import numpy as np

In [2555]:
csvpath = os.path.join('..', 'HeroesOfPyMoli', 'purchase_data.csv')

In [2556]:
with open(csvpath) as csvfile:
    csvreader2 = csv.reader(csvfile, delimiter=',')
    for row in csvreader2:
        pmoli = pd.DataFrame(csvreader2, columns = ['Purchase ID','SN','Age','Gender','Item ID','Item Name','Price'])

In [2557]:
total_player = (len(pmoli.iloc[:,1].unique()))
total_game = (len(pmoli.iloc[:,4].unique()))
pmoli.loc[:,"Price"] = pmoli["Price"].astype("float")
pmoli.loc[:,"Age"] = pmoli["Age"].astype("int")
avr_price = ('${0:,.2f}'.format(pmoli["Price"].mean()))
pmoli_purchase = (len(pmoli))
pmoli_revenue = ('${0:,.2f}'.format(pmoli["Price"].sum()))

In [2558]:
pmoli_male_df = pmoli.loc[pmoli["Gender"] == "Male"]
male_player = (len(pmoli_male_df.iloc[:,1].unique()))
percent_male = ("{:.2f}".format((int(male_player)/int(total_player))*100))
pmoli_female_df = pmoli.loc[pmoli["Gender"] == "Female"]
female_player = (len(pmoli_female_df.iloc[:,1].unique()))
percent_female = ("{:.2f}".format((int(female_player)/int(total_player))*100))
pmoli_unknown_df = pmoli.loc[pmoli["Gender"] == "Other / Non-Disclosed"]
unknown_player = (len(pmoli_unknown_df.iloc[:,1].unique()))
percent_unknown = ("{:.2f}".format((int(pmoli_unknown)/int(total_player))*100))

In [2559]:
male_purchase = (len(pmoli_male_df))
male_avr = ('${0:,.2f}'.format(pmoli_male_df["Price"].mean()))
male_revenue = ('${0:,.2f}'.format(pmoli_male_df["Price"].sum()))
avr_pur_male = ('${0:,.2f}'.format(male_purchase/male_player))
female_purchase = (len(pmoli_female_df))
female_avr = ('${0:,.2f}'.format(pmoli_female_df["Price"].mean()))
female_revenue = ('${0:,.2f}'.format(pmoli_female_df["Price"].sum()))
avr_pur_female = ('${0:,.2f}'.format(female_purchase/female_player))
unknown_purchase = (len(pmoli_unknown_df))
unknown_avr = ('${0:,.2f}'.format(pmoli_unknown_df["Price"].mean()))
unknown_revenue = ('${0:,.2f}'.format(pmoli_unknown_df["Price"].sum()))
avr_pur_unknown = ('${0:,.2f}'.format(unknown_purchase/unknown_player))

In [2560]:
bins = [0,9,14,19,24,29,34,39,44]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]

In [2561]:
pmoli["Age"] = pd.cut(pmoli["Age"], bins, labels= group_labels, include_lowest=True)
pmoli_group = pmoli.groupby('Age')
purchase_count = pd.DataFrame(pmoli_group["SN"].count())
purchase_df = purchase_count.rename(columns={"SN":"Purchase Count"})
mean_price = pd.DataFrame(pmoli_group["Price"].mean())
mean_df = mean_price.rename(columns={"Price":"Average Purchase Price"})
sum_price = pd.DataFrame(pmoli_group["Price"].sum())
sum_df = sum_price.rename(columns={"Price":"Total Purchase Value"})
player_count = pd.DataFrame(pmoli_group["SN"].nunique())
player_df = avr_pur_group.rename(columns={avr_pur_group.columns[0]:"Average Total Per Player"})

In [2562]:
all_df = pd.DataFrame({"Total Players":[total_player]})
all_df

   Total Players
0            576

In [2563]:
Purchasing_an = pd.DataFrame({"Number of Unique Items":[total_game],"Average Price":[avr_price],
                          "Number of Purchases":[pmoli_purchase],
                              "Total Revenue":[pmoli_revenue]})
Purchasing_an

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [2564]:
Purchasing_an_gd = pd.DataFrame({"Purchase Count":[male_purchase,female_purchase,unknown_purchase],
                                 "Average Purchase Price":[male_avr,female_avr,unknown_avr],
                          "Total Purchases Value":[male_revenue,female_revenue,unknown_revenue],
                              "Avg Total Purchase Per Person":[avr_pur_male,avr_pur_female,avr_pur_unknown]},
                               index=["Male","Female","Other/Undisclosed"])
Purchasing_an_gd

,Purchase Count,Average Purchase Price,Total Purchases Value,Avg Total Purchase Per Person
Male,652,$3.02,"$1,967.64",$1.35
Female,113,$3.20,$361.94,$1.40
Other/Undisclosed,15,$3.35,$50.19,$1.36

In [2565]:
Gender_df = pd.DataFrame({"Total Count":[male_player,female_player,unknown_player],
                          "Percentage of Gender":[percent_male,percent_female,percent_unknown]},
                         index=["Male","Female","Other/Undisclosed"])   
Gender_df["Percentage of Gender"]= Gender_df["Percentage of Gender"] + '%'
Gender_df

                   Total Count Percentage of Gender
Male                       484               84.03%
Female                      81               14.06%
Other/Undisclosed           11                2.60%

In [2566]:
Age_demo_perc = [((player_count['SN'])/(total_player))*100]

Age_demo_perc

[Age
 <10       2.951389
 10-14     3.819444
 15-19    18.576389
 20-24    44.791667
 25-29    13.368056
 30-34     9.027778
 35-39     5.381944
 >40       1.909722
 Name: SN, dtype: float64]

In [2567]:
df = pd.concat([purchase_df,mean_df,sum_df,player_df], axis=1, join="inner").reset_index()
age_analysis

In [2568]:
print("PURCHASING ANALYSIS")
print("-------------------")
print("Total number of players is " + str(total_player))
print("Number of items is " + str(total_game))
print("Average price is $" + str(avr_price))
print("Total purchase is " + str(pmoli_purchase))
print("Total revenue is $" + str(pmoli_revenue))
print("__________________________________________________________________________________")
print("GENDER DEMOGRAPHICS")
print("-------------------")
print("Total number of male players is " + str(male_player) + " (" + percent_male + "%)")
print("Total number of female players is " + str(female_player) + " (" + percent_female + "%)")
print("Total number of unknown gender is " + str(unknown_player) + " (" + percent_unknown + "%)")
print("__________________________________________________________________________________")
print("PURCHASING ANALYSIS(GENDER)")
print("---------------------------")
print("Total purchase by male players is " + str(male_purchase))
print("Average purchase price per male player is $" + str(male_avr))
print("Total revenue from male players is $" + str(male_revenue))
print("Average purchase per male players is " + str(avr_pur_male) + " games")
print("---------------------------")
print("Total purchase by female players is " + str(female_purchase))
print("Average purchase price per female player is $" + str(female_avr))
print("Total revenue from female players is $" + str(female_revenue))
print("Average purchase per female players is " + str(avr_pur_female) + " games")
print("---------------------------")
print("Total purchase by unknown players is " + str(unknown_purchase))
print("Average purchase price per unknown player is $" + str(unknown_avr))
print("Total revenue from unknown players is $" + str(unknown_revenue))
print("Average purchase per unknown players is " + str(avr_pur_unknown) + " games")

PURCHASING ANALYSIS
-------------------
Total number of players is 576
Number of items is 179
Average price is $$3.05
Total purchase is 780
Total revenue is $$2,379.77
__________________________________________________________________________________
GENDER DEMOGRAPHICS
-------------------
Total number of male players is 484 (84.03%)
Total number of female players is 81 (14.06%)
Total number of unknown gender is 11 (2.60%)
__________________________________________________________________________________
PURCHASING ANALYSIS(GENDER)
---------------------------
Total purchase by male players is 652
Average purchase price per male player is $$3.02
Total revenue from male players is $$1,967.64
Average purchase per male players is $1.35 games
---------------------------
Total purchase by female players is 113
Average purchase price per female player is $$3.20
Total revenue from female players is $$361.94
Average purchase per female players is $1.40 games
---------------------------
Total purchase by unknown players is 15
Average purchase price per unknown player is $$3.35
Total revenue from unknown players is $$50.19
Average purchase per unknown players is $1.36 games