In [3620]:
import os
import csv
import pandas as pd
import numpy as np

In [3621]:
csvpath = os.path.join('..', 'HeroesOfPyMoli', 'purchase_data.csv')

In [3622]:
with open(csvpath) as csvfile:
    csvreader2 = csv.reader(csvfile, delimiter=',')
    for row in csvreader2:
        pmoli = pd.DataFrame(csvreader2, columns = ['Purchase ID','SN','Age','Gender','Item ID','Item Name','Price'])

In [3623]:
total_player = (len(pmoli.iloc[:,1].unique()))
total_game = (len(pmoli.iloc[:,4].unique()))
pmoli.loc[:,"Price"] = pmoli["Price"].astype("float")
pmoli.loc[:,"Age"] = pmoli["Age"].astype("int")
avr_price = ('${0:,.2f}'.format(pmoli["Price"].mean()))
pmoli_purchase = (len(pmoli))
pmoli_revenue = ('${0:,.2f}'.format(pmoli["Price"].sum()))

In [3624]:
pmoli_male_df = pmoli.loc[pmoli["Gender"] == "Male"]
male_player = (len(pmoli_male_df.iloc[:,1].unique()))
percent_male = ("{:.2f}".format((int(male_player)/int(total_player))*100))
pmoli_female_df = pmoli.loc[pmoli["Gender"] == "Female"]
female_player = (len(pmoli_female_df.iloc[:,1].unique()))
percent_female = ("{:.2f}".format((int(female_player)/int(total_player))*100))
pmoli_unknown_df = pmoli.loc[pmoli["Gender"] == "Other / Non-Disclosed"]
unknown_player = (len(pmoli_unknown_df.iloc[:,1].unique()))
percent_unknown = ("{:.2f}".format((int(pmoli_unknown)/int(total_player))*100))

In [3625]:
male_purchase = (len(pmoli_male_df))
male_avr = (pmoli_male_df["Price"].mean())
male_revenue = (pmoli_male_df["Price"].sum())
avr_pur_male = ((male_purchase/male_player)*male_avr)
female_purchase = (len(pmoli_female_df))
female_avr = (pmoli_female_df["Price"].mean())
female_revenue = (pmoli_female_df["Price"].sum())
avr_pur_female = ((female_purchase/female_player)*female_avr)
unknown_purchase = (len(pmoli_unknown_df))
unknown_avr = (pmoli_unknown_df["Price"].mean())
unknown_revenue = (pmoli_unknown_df["Price"].sum())
avr_pur_unknown = ((unknown_purchase/unknown_player)*unknown_avr)

In [3626]:
bins = [0,9,14,19,24,29,34,39,44]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]

In [3627]:
pmoli["Age Bracket"] = pd.cut(pmoli["Age"], bins, labels= group_labels, include_lowest=True)
pmoli_group = pmoli.groupby('Age Bracket')
purchase_count = pd.DataFrame(pmoli_group["SN"].count())
purchase_df = purchase_count.rename(columns={"SN":"Purchase Count"})
mean_price = pd.DataFrame(pmoli_group["Price"].mean())
mean_df = mean_price.rename(columns={"Price":"Average Purchase Price"})
sum_price = pd.DataFrame(pmoli_group["Price"].sum())
sum_df = sum_price.rename(columns={"Price":"Total Purchase Value"})
player_count = pd.DataFrame(pmoli_group["SN"].nunique())
player_ct = player_count.rename(columns={player_count.columns[0]:"Total Player"})
avr_pur_group = pd.DataFrame((sum_price.iloc[:,0])/(player_count.iloc[:,0]))
player_df = avr_pur_group.rename(columns={avr_pur_group.columns[0]:"Average Total Per Player"})

In [3628]:
Age_dm = pd.DataFrame(((player_count.iloc[:,0])/(total_player))*100)
Age_demo = Age_dm.rename(columns={Age_dm.columns[0]:"Percentage of Players"})
pmoli.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bracket
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [3689]:
top_s = pmoli.groupby(["SN",]).Price.sum().reset_index()
top_c = pd.DataFrame(pmoli['SN'].value_counts()).reset_index()
top_c_rn = top_c.rename(columns={top_c.columns[0]:"SN",top_c.columns[1]:"Purchase Count"})
top_cs = pd.merge(top_s,top_c_rn, on = 'SN')
avr_spd = (top_cs['Price'])/(top_cs['Purchase Count'])
top_cs['Average Purchase Price'] = avr_spd
top_spdr = top_cs[['SN','Purchase Count','Average Purchase Price','Price']]
top_spend = top_spdr.rename(columns={top_spdr.columns[3]: 'Total Purchase Value'})
top_spender = top_spend.sort_values('Total Purchase Value', ascending=False)
top_spender.head(5).style.format(format_dict).hide_index()

In [3671]:
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Avg Total Purchase Per Person':'${0:,.2f}',
               'Total Purchase Value':'${0:,.2f}', 'Average Total Per Player':'${0:,.2f}',
              'Percentage of Players':'{:.2f}%'}

In [3631]:
all_df = pd.DataFrame({"Total Players":[total_player]})
all_df

   Total Players
0            576

In [3632]:
Purchasing_an = pd.DataFrame({"Number of Unique Items":[total_game],"Average Price":[avr_price],
                          "Number of Purchases":[pmoli_purchase],
                              "Total Revenue":[pmoli_revenue]})
Purchasing_an

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [3633]:
Purchasing_an_gd = pd.DataFrame({"Purchase Count":[male_purchase,female_purchase,unknown_purchase],
                                 "Average Purchase Price":[male_avr,female_avr,unknown_avr],
                          "Total Purchase Value":[male_revenue,female_revenue,unknown_revenue],
                              "Avg Total Purchase Per Person":[avr_pur_male,avr_pur_female,avr_pur_unknown]},
                               index=["Male","Female","Other/Undisclosed"])
Purchasing_an_gd.style.format(format_dict)

In [3634]:
Gender_df = pd.DataFrame({"Total Count":[male_player,female_player,unknown_player],
                          "Percentage of Gender":[percent_male,percent_female,percent_unknown]},
                         index=["Male","Female","Other/Undisclosed"])   
Gender_df["Percentage of Gender"]= Gender_df["Percentage of Gender"] + '%'
Gender_df

                   Total Count Percentage of Gender
Male                       484               84.03%
Female                      81               14.06%
Other/Undisclosed           11                2.60%

In [3635]:
Age_dem = pd.concat([player_ct, Age_demo], axis=1, join="inner").reset_index()
Age_dem.style.format(format_dict).hide_index()

In [3636]:
df = pd.concat([purchase_df,mean_df,sum_df,player_df], axis=1, join="inner").reset_index()
Age_analysis = pd.DataFrame(df)
Age_analysis.style.format(format_dict).hide_index()